<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Kapitel</mat-toolbar>



    <mat-nav-list *ngFor="let surah of surahs">

      <a mat-list-item routerLink="/surah/{{surah.surahId}}" [routerLinkActive]="['is-active']">{{surah.surahId}}.
        {{surah.name}}</a>


    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>


    <mat-toolbar color="primary">

      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>

      <span> <a routerLink="/" class="title" matRipple>Koranens Budskap</a> </span>

      <span class="spacer"></span>

      <mat-slide-toggle class="toggle-margin" [color]="color" [checked]="checkedAR">
        AR
      </mat-slide-toggle>

      <mat-slide-toggle class="toggle-margin" [color]="color" [checked]="checkedSV">
        SV
      </mat-slide-toggle>

      <!-- <button mat-icon-button>
        <a routerLink="/about" class="title">
          <mat-icon class="icon">contact_support</mat-icon>
        </a>
      </button> -->

    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>