<form>
    <div>

        <mat-form-field appearance="fill" class="tafsir">
            <mat-label>Number</mat-label>
            <textarea matInput rows="1" cols="100" name="number"></textarea>
        </mat-form-field>

        <br>

        <mat-form-field appearance="fill" class="tafsir">
            <mat-label>Tafsir text</mat-label>
            <textarea matInput rows="15" cols="100" [(ngModel)]="tafsir.text" name="text">{{tafsir.text}}</textarea>
        </mat-form-field>



    </div>
</form>
<div>
    <button mat-raised-button color="primary" matRipple type="submit" (click)="addTafsir()">
        Add
    </button>
</div>