.grid-container-text {
  margin-top: 25px;
  margin-bottom: 25px;
  margin-left: 5px;
  margin-right: 5px;
}

.center {
  justify-content: center;
  text-align: center;
}

.title {
  font-weight: 500;
}
