<div class="grid-container-text" *ngIf="loaded">
    <div>
        <h1 class="center title">{{surah.name}} </h1>
        <h4>Ordning i uppenbarelsen: {{surah.order}} <br>
            Antal verser: {{surah.count}} <br>
            Uppenbarad i: {{placeForRelevation(surah.period)}}</h4>

        <div *ngFor="let ayah of surah.ayahs">
            <mat-chip-list>
                <div [attr.id]=ayah.ayahNumber></div>

                <mat-chip color="accent" selected>{{surah.surahId}}:{{ayah.ayahNumber}}</mat-chip>
                <span class="spacer"></span>
                <button mat-icon-button [matMenuTriggerFor]="menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>
                        <mat-icon>share</mat-icon>
                        <span>Dela</span>
                    </button>
                    <a routerLink="/ayah/edit/{{ayah.ayahId}}" class="no-underline">
                        <button mat-menu-item>
                            <mat-icon>edit</mat-icon>
                            <span>Redigera</span>
                        </button>
                    </a>
                </mat-menu>


            </mat-chip-list>




            <p class="translation"> {{ayah.swedish}}</p>
            <p class="arabic"> {{ayah.arabic}}</p>

            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Visa förklaring...
                    </mat-panel-title>

                </mat-expansion-panel-header>
                <p *ngFor="let tafsir of ayah.tafsirs">{{tafsir.text}}</p>
            </mat-expansion-panel>

            <mat-divider></mat-divider>
            <br><br><br>
        </div>

    </div>
</div>