.search {
  text-align: center;
  margin: 0 auto;
  justify-content: center;
  padding-top: 150px;
  font-size: xx-large;
  width: 300px;
}

.form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.full-width {
  width: 100%;
}
